{% extends 'QoSAdminBundle:Secured:index.html.twig' %}

{% block rowSideBar -%}
    {% if entity is defined and entity is not null %}
        {% if form is defined %}
            {{ form_start(form) }}
                <ul class="nav nav-sidebar nav-20">
                    <li class="border-t border-b title">
                        <h3>
                            Proveedor "{{entity.nombre}}"
                        </h3>
                    </li>
                    <li>
                        <div class="form-group">
                            {{ form_row(form.abreviacion) }}
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            {{ form_row(form.nombre) }}
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            {{ form_row(form.telefono) }}
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            {{ form_row(form.direccion) }}
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            {{ form_row(form.holgura) }}
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            {{ form_row(form.unidadHolgura) }}
                        </div>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class="border-t border-b title text-center">
                        {{- form_row(form.submit,{ 'attr': {'class': 'btn btn-lg btn-primary btn-block border-radius-none'} }) -}}
                    </li>
                </ul>
                <div class="hide">
                    {{- form_rest(form) -}}
                </div>
            {{ form_end(form) }}
                <ul class="nav nav-sidebar">
                    <li class="border-t border-b title text-center">
                        {% if delete_form is defined and delete_form is not null %}
                                {{ form(delete_form) }}
                        {% endif %}
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class="border-t border-b title text-center">
                        {#<a href="{{ path('medicionproveedor_new_proveedor',{idProveedor: entity.id}) }}" class="btn btn-lg btn-info border-radius-none btn-block open-modal">
                            Agregar Medición Base a {{entity.nombre-}}
                        </a>#}
                        <a href="{{ path('Proveedor') }}" class="btn btn-lg btn-default border-radius-none btn-block">
                            Volver a lista de Proveedores
                        </a>
                    </li>
                </ul>
        {% else %}
            <ul class="nav nav-sidebar">
                <li class="border-t border-b title">
                    <h3>
                        {{- entity.nombre -}} ({{-entity.abreviacion-}})
                    </h3>
                </li>
                <li>
                    <div class="form-group">
                        Teléfono: {{- entity.telefono -}}
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        Dirección: {{- entity.direccion -}}
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        Holgura: {{- entity.holgura ~ entity.unidadHolgura -}}
                    </div>
                </li>
                <li class="border-t border-b title text-center">
                    <a href="{{ path('Proveedor') }}" class="btn btn-lg btn-default btn-block border-radius-none">
                        Volver a lista de Proveedores
                    </a>
                    {% if delete_form is defined and delete_form is not null %}
                            {{ form(delete_form) }}
                    {% endif %}
                </li>
            </ul>
        {% endif %}
    {% else %}
        <div class="label label-warning label-lg">
            El Proveedor no es válido.
        </div>
    {% endif %}
{% endblock rowSideBar %}
    
{#% block rowMain %}
    
{% endblock rowMain %#}