{# empty Twig template #}

{% block rowMain_title %}
    <h1 class="page-header">{{- (rowMain.title is defined? rowMain.title:rowMain.name) | title | replace({'-':' de '}) -}}</h1>
{% endblock rowMain_title %}
{% block rowMain_grafico %}
    <div class="graphic-content col-xs-12">
        <div id="legend-grafico-{{- rowMain.name -}}" class="col-xs-3 col-xs-offset-1">

        </div>
        <div class="col-xs-8">
            <canvas id="grafico-{{- rowMain.name-}}"></canvas>
        </div>
        <div id="reload-grafico-{{- rowMain.name-}}" class="reload-grafico-button">
            <span class="btn btn-warning btn-bg">Recargar</span>
        </div>
        <div id="select-graph-{{- rowMain.name-}}" class="btn-group" data-toggle="buttons">
            {#<label class="btn btn-primary">
                <input name="option-graph" value="bar" type="radio"> Gráfico de Barras
            </label>#}
            <label class="btn btn-primary">
                <input name="option-graph" value="line" type="radio"> Gráfico de Líneas
            </label>
            <label class="btn btn-primary active">
                <input name="option-graph" value="pie" type="radio" checked> Gráfico de Torta
            </label>
        </div>
    </div>
    <div class="clearfix" ></div>
{% endblock rowMain_grafico %}
{% block rowMain_content %}
    <div class="graphic-table-content">
        <h2 class="sub-header">{{- (rowMain.titleTable is defined? rowMain.titleTable: 'Tabla de ' ~ rowMain.name) | title | replace({'-':' de '}) -}}</h2>
        <div class="table-responsive" id="table-graf-{{- rowMain.name-}}">
            {% if rowMain.table is defined %}
                {% if rowMain.table.theads is defined %}
                    {% include 'QoSAdminBundle:Secured:_table.html.twig' with {
                        'theads': rowMain.table.theads,
                        'tbodys': rowMain.table.tbodys,
                        'tfoots': rowMain.table.tfoots is defined?rowMain.table.theads:null,
                    } %}
                {% else%}
                    {{ rowMain.table | raw}}
                {% endif %}
            {% else %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Header</th>
                            <th>Header</th>
                            <th>Header</th>
                            <th>Header</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1,001</td>
                            <td>Lorem</td>
                            <td>ipsum</td>
                            <td>dolor</td>
                            <td>sit</td>
                        </tr>
                        <tr>
                            <td>1,002</td>
                            <td>amet</td>
                            <td>consectetur</td>
                            <td>adipiscing</td>
                            <td>elit</td>
                        </tr>
                        <tr>
                            <td>1,003</td>
                            <td>Integer</td>
                            <td>nec</td>
                            <td>odio</td>
                            <td>Praesent</td>
                        </tr>
                        <tr>
                            <td>1,003</td>
                            <td>libero</td>
                            <td>Sed</td>
                            <td>cursus</td>
                            <td>ante</td>
                        </tr>
                        <tr>
                            <td>1,004</td>
                            <td>dapibus</td>
                            <td>diam</td>
                            <td>Sed</td>
                            <td>nisi</td>
                        </tr>
                        <tr>
                            <td>1,005</td>
                            <td>Nulla</td>
                            <td>quis</td>
                            <td>sem</td>
                            <td>at</td>
                        </tr>
                        <tr>
                            <td>1,006</td>
                            <td>nibh</td>
                            <td>elementum</td>
                            <td>imperdiet</td>
                            <td>Duis</td>
                        </tr>
                        <tr>
                            <td>1,007</td>
                            <td>sagittis</td>
                            <td>ipsum</td>
                            <td>Praesent</td>
                            <td>mauris</td>
                        </tr>
                        <tr>
                            <td>1,008</td>
                            <td>Fusce</td>
                            <td>nec</td>
                            <td>tellus</td>
                            <td>sed</td>
                        </tr>
                        <tr>
                            <td>1,009</td>
                            <td>augue</td>
                            <td>semper</td>
                            <td>porta</td>
                            <td>Mauris</td>
                        </tr>
                        <tr>
                            <td>1,010</td>
                            <td>massa</td>
                            <td>Vestibulum</td>
                            <td>lacinia</td>
                            <td>arcu</td>
                        </tr>
                        <tr>
                            <td>1,011</td>
                            <td>eget</td>
                            <td>nulla</td>
                            <td>Class</td>
                            <td>aptent</td>
                        </tr>
                        <tr>
                            <td>1,012</td>
                            <td>taciti</td>
                            <td>sociosqu</td>
                            <td>ad</td>
                            <td>litora</td>
                        </tr>
                        <tr>
                            <td>1,013</td>
                            <td>torquent</td>
                            <td>per</td>
                            <td>conubia</td>
                            <td>nostra</td>
                        </tr>
                        <tr>
                            <td>1,014</td>
                            <td>per</td>
                            <td>inceptos</td>
                            <td>himenaeos</td>
                            <td>Curabitur</td>
                        </tr>
                        <tr>
                            <td>1,015</td>
                            <td>sodales</td>
                            <td>ligula</td>
                            <td>in</td>
                            <td>libero</td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock rowMain_content %}