{% extends 'QoSAdminBundle:Secured:index.html.twig' %}

{% block rowSideBar -%}
    {% if entity is defined and entity is not null %}
        {% if form is defined %}
            {{ form_start(form) }}
                <ul class="nav nav-sidebar nav-20">
                    <li class="border-t border-b title">
                        <h3>
                            Paquete "{{entity.nombre}}"
                        </h3>
                    </li>
                    <li>
                        <div class="form-group">
                            {{ form_row(form.nombre) }}
                        </div>
                    </li>
                    <li>
                        {{- entity.path is defined?'Ya existe el archivo para el paquete':'Suba el archivo para el paquete' -}}
                        <div class="form-group">
                            {{ form_row(form.file) }}
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            {{ form_row(form.path) }}
                        </div>
                    </li>
                    <li class="border-t border-b title text-center">
                        {{- form_row(form.submit,{ 'attr': {'class': 'btn btn-lg btn-primary btn-block border-radius-none'} }) -}}
                    </li>
                </ul>
                <div class="hide">
                    {{- form_rest(form) -}}
                </div>
            {{ form_end(form) }}
                <ul class="nav nav-sidebar">
                    <li class="border-t border-b title text-center">
                        {% if delete_form is defined and delete_form is not null %}
                                {{ form(delete_form) }}
                        {% endif %}
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class="border-t border-b title text-center">
                        <a href="{{ path('Paquete') }}" class="btn btn-lg btn-default border-radius-none btn-block">
                            Volver a lista de Paquetes
                        </a>
                    </li>
                </ul>
        {% else %}
            <ul class="nav nav-sidebar">
                <li class="border-t border-b title">
                    <h3>
                        {{- entity.nombre -}}
                    </h3>
                </li>
                <li>
                    <div class="form-group">
                        Tamaño: {{- entity.tam ~ entity.unidadTam -}}
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        Archivo: {{- entity.path -}}
                    </div>
                </li>
                <li class="border-t border-b title text-center">
                    <a href="{{ path('Paquete') }}" class="btn btn-lg btn-default btn-block border-radius-none">
                        Volver a lista de Paquetes
                    </a>
                    {% if delete_form is defined and delete_form is not null %}
                            {{ form(delete_form) }}
                    {% endif %}
                </li>
            </ul>
        {% endif %}
    {% else %}
        <div class="label label-warning label-lg">
            El Paquete no es válido.
        </div>
    {% endif %}
{% endblock rowSideBar %}
    
{% block rowMain %}
    {% if rowMains is defined %}
        {% for rm in rowMains %}
            {{- include ('QoSAdminBundle:Secured:_rowMain.html.twig',{
                rowMain: rm
            }) -}}
        {% endfor %}
    {% endif %}
{% endblock rowMain %}

{% block dataGrafico %}
    <script type="text/javascript">
        var dataGraf = [];
        {% if datosGrafico is defined and datosGrafico is not empty %}
            {% for dg in datosGrafico if dg.name is defined %}
                dataGraf['{{-dg.name-}}'] = [];
                {% for i, val in dg.values %}
                    dataGraf['{{-dg.name-}}']["{{-i-}}"] = JSON.parse('{' +
                        '"value":{{-val.value-}},' +
                        '"color":"'+getColor("{{-i-}}", true)+'",' +
                        '"highlight":"'+getColor("{{-i-}}") + '",' +
                        '"label":"{{-val.label-}}"' +
                    '}');
                {% else %}
                    console.log('sin datos');
                {% endfor %}
            {% endfor %}
        {% endif %}
    </script>
{% endblock dataGrafico %}