{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Institucion list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Abreviacion</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Id</th>
                <th>Nombre</th>
                <th>Canonical</th>
                <th>Fechacreado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('Institucion_show', { 'id': entity.id }) }}">{{ entity.abreviacion }}</a></td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.id }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.canonical }}</td>
                <td>{% if entity.fechaCreado %}{{ entity.fechaCreado|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('Institucion_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('Institucion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('Institucion_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
