{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Medicion</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Upload</th>
                <td>{{ entity.upload }}</td>
            </tr>
            <tr>
                <th>Unidadupload</th>
                <td>{{ entity.unidadUpload }}</td>
            </tr>
            <tr>
                <th>Download</th>
                <td>{{ entity.download }}</td>
            </tr>
            <tr>
                <th>Unidaddownload</th>
                <td>{{ entity.unidadDownload }}</td>
            </tr>
            <tr>
                <th>Promedio</th>
                <td>{{ entity.promedio }}</td>
            </tr>
            <tr>
                <th>Unidadpromedio</th>
                <td>{{ entity.unidadPromedio }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('Medicion') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('Medicion_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
